name: CaraML Store CI

on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Linting
        uses: gradle/gradle-build-action@v2
        with:
          arguments: spotlessCheck
      - name: Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test
